<div class="row"> 
    <div class="container">
        <h1>WELCOME</h1>  
        <div class="social-media">
            <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets//twitter.png" id="twitter"></a>
            <a href=""><img src="../../../assets//github.png" id="github"></a>
            <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Log In</button> 
            <button type="button" class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">Log Out</button> 
        </div>
    </div>
</div>